<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title th:text="#{toonDierenTitel}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

	
	<h2 th:text="#{onzeDieren}"></h2>

	<a th:href="|/dieren|" th:unless="${rassen}" ) th:text="#{homeKnop}"> </a>
	<a th:if="${isAdmin}" th:href="|/manage/addDier|"
		th:text="#{voegDierToe}"></a>
	<a th:href="|/reservaties|" th:text="#{reservatiesKnop}"></a>

	<table>
		<tr>
			<th th:text="#{dierenNaam}">Name</th>
			<th th:text="#{dierenRas}">Ras</th>
			<th th:text="#{dierenBirthday}">Birthday</th>
			<th th:text="#{DierenReserved}">Reserved</th>
		</tr>

		<th:block th:each="dier: ${dierList}">
			<tr>
				<td><a th:href="|/dieren/${dier.id}|" th:text="${dier.naam}"></a></td>
				<td th:text="${dier.ras}"></td>
				<td th:text="${dier.geboorteDatum}"></td>
				<td th:text="${{dier.reedsGereserveerd}}"></td>
				<!-- oplossing zonder DateFormatter -->
				<!-- <td th:with="df=#{date.format.pattern}" th:text="${#temporals.format(contact.birthDate, df)}"></td>  -->
			</tr>
		</th:block>
	</table>
	<p th:if="${rassen}" ) th:text="#{filterOnRace}"></p>
	<div th:if="${rassen}" ) th:each="ras: ${rassen}">
		<a th:href="|/dieren/rassen/${ras}|" th:text="${ras}"></a>
	</div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" /> <input type="hidden"
			th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
</body>

</html>